.callToAction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 200px;
  margin: 150px 0;
}
.callToAction span {
  border-top: 3px solid var(--text-white);
  width: 80%;
  margin-bottom: 80px;
}
.callToAction p {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.callToAction h1 {
  font-size: 3.5rem;
  color: var(--dark);
  font-weight: 800;
  font-stretch: expanded;
}
